# App
FASTAPI_APP_NAME=
FASTAPI_APP_DESCRIPTION=
FASTAPI_APP_VERSION=
FASTAPI_APP_ENVIRONMENT=

# Server
FASTAPI_SERVER_PATH=
FASTAPI_SERVER_HOST=
FASTAPI_SERVER_PORT=
FASTAPI_SERVER_RELOAD=
FASTAPI_SERVER_WORKERS=
FASTAPI_SERVER_BASE_API=

# Database
FASTAPI_PRODUCTION_DATABASE=
